* {
  padding: 0;
  margin: 0; }

body {
  background-color: #dedede; }
  body h2 {
    font-family: "Asap", sans-serif;
    font-weight: 600;
    line-height: 50px;
    color: #4d4d4d;
    font-size: 46px;
    text-transform: uppercase; }
    body h2:before {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      background-color: #7a7a7a;
      position: relative;
      bottom: 20px;
      margin: auto; }

.navbar {
  font-family: "Asap", sans-serif !important;
  font-size: 16px !important;
  color: #4d4d4d !important;
  margin-bottom: 20px;
  border: 0 !important;
  background-color: #dedede !important;
  background-image: none !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important; }

.navbar-header a {
  font-family: 'Lato', sans-serif !important;
  height: auto;
  padding: 31px 0 0;
  font-size: 16px;
  line-height: 20px;
  text-shadow: none !important;
  color: #4d4d4d !important;
  margin-left: 0; }
  .navbar-header a img {
    height: 24px;
    margin-bottom: 10px;
    padding-left: 29px; }
  .navbar-header a p:nth-child(2) {
    text-align: left;
    font-family: 'Lato', sans-serif !important;
    font-size: 16px;
    color: #4d4d4d !important;
    margin: 0 0 7px; }
  .navbar-header a p:nth-child(3) {
    font-family: 'Lato', sans-serif !important;
    font-size: 6px;
    color: #4d4d4d !important;
    margin: 0 0 16px;
    text-align: center; }

.navbar-nav li a {
  padding-top: 33px;
  padding-bottom: 0;
  margin: 0 20px 0 0; }
  .navbar-nav li a:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #878787;
    position: relative;
    top: 9px; }

.hero-area h1 {
  font-family: "Asap", sans-serif;
  font-weight: 500;
  color: #4d4d4d;
  margin-top: 166px;
  margin-bottom: 21px;
  font-size: 75px;
  padding-right: 0;
  padding-left: 0; }
.hero-area img {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 9px; }
.hero-area p {
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.42857143;
  color: #9c9c9c;
  margin: 0 0 32px;
  position: relative;
  padding-right: 0;
  padding-left: 0; }
.hero-area a {
  display: inline-block;
  line-height: 50px;
  font-family: "Asap", sans-serif;
  font-size: 16px;
  background-color: white;
  color: #4d4d4d;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 20px; }
  .hero-area a:nth-child(4) {
    background-color: transparent;
    border: 1px solid #4d4d4d;
    padding-left: 47px;
    padding-right: 47px; }

.about {
  background-color: white;
  padding-top: 110px; }
  .about h2 {
    margin-bottom: 15px;
    max-width: 315px; }
  .about img {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 125px; }
  .about p {
    font-family: "Asap", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #4d4d4d;
    margin: 0 0 35px;
    padding-right: 0;
    padding-left: 0; }
  .about a {
    display: inline-block;
    font-family: "Asap", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 48px;
    padding: 0;
    color: #4d4d4d;
    padding-left: 47px;
    padding-right: 47px;
    border: 1px solid #4d4d4d;
    text-align: center; }

.services {
  padding-top: 143px; }
  .services h2 {
    margin-bottom: 62px; }
  .services img {
    height: 78px;
    margin-bottom: 16px; }
  .services p {
    font-family: "Asap", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #4d4d4d;
    padding: 0;
    margin: 0 0 83px; }

.my-skills {
  padding-top: 143px;
  background-color: white; }
  .my-skills h2 {
    margin-bottom: 51px; }
  .my-skills img {
    display: block;
    max-width: 984px;
    margin-bottom: 125px; }

.portfolio {
  padding-top: 150px; }
  .portfolio h2 {
    margin-bottom: 46px; }
  .portfolio img {
    margin-bottom: 30px; }
  .portfolio a {
    display: inline-block;
    margin: auto;
    line-height: 50px;
    font-family: "Asap", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    color: #4d4d4d;
    text-decoration: none;
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 123px; }

.testimonials {
  background-color: white;
  padding-top: 150px; }
  .testimonials h2 {
    margin-bottom: 58px; }
  .testimonials .owl-carousel {
    border: 1px solid #212121;
    padding: 81px 73px 107px 118px;
    margin-bottom: 121px; }
    .testimonials .owl-carousel img {
      display: inline-block;
      max-width: 159px;
      margin-right: 30px; }
    .testimonials .owl-carousel .text-carousel {
      display: inline-block; }
      .testimonials .owl-carousel .text-carousel h3 {
        display: inline-block;
        box-sizing: border-box;
        font-family: "Asap", sans-serif;
        font-weight: 500;
        color: #4d4d4d;
        margin-bottom: 10px;
        font-size: 30px;
        text-transform: uppercase; }
      .testimonials .owl-carousel .text-carousel p {
        display: inline-block;
        font-family: "Asap", sans-serif italic;
        font-weight: 400;
        font-size: 12px;
        color: #4d4d4d;
        margin-bottom: 22px; }
        .testimonials .owl-carousel .text-carousel p:last-child {
          font-size: 16px;
          color: #949494;
          text-transform: uppercase;
          line-height: 26px; }
      .testimonials .owl-carousel .text-carousel .owl-dots {
        position: absolute;
        width: 100%;
        bottom: 38px;
        text-align: center; }
      .testimonials .owl-carousel .text-carousel .owl-dots .owl-dot span {
        display: block;
        height: 11px;
        width: 11px;
        border: 1px solid #212121;
        margin-right: 2px;
        margin-left: 2px; }
      .testimonials .owl-carousel .text-carousel .owl-dots .owl-dot.active span {
        background-color: #212121; }

.funfact {
  padding-top: 52px; }
  .funfact img {
    height: 78px;
    margin-bottom: 33px; }
    .funfact img:first-child {
      height: 96px; }
  .funfact h4 {
    font-family: "Asap", sans-serif;
    font-weight: 600;
    color: #4d4d4d;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 30px; }
  .funfact p {
    font-family: "Asap", sans-serif;
    font-size: 30px;
    color: #4d4d4d;
    padding: 0;
    margin: 0 0 65px; }

.white-bg {
  background-color: white;
  min-height: 154px; }

footer {
  padding-top: 170px;
  background-image: url("../images/footer_06.jpg");
  background-size: cover; }
  footer h2 {
    color: white;
    margin-bottom: 71px; }
    footer h2:before {
      background-color: #c1c1c1; }
  footer form {
    font-family: "Asap", sans-serif;
    font-size: 16px;
    color: #4d4d4d; }
    footer form input {
      box-sizing: border-box;
      padding: 0;
      margin: 0 0 30px;
      padding-right: 15px;
      padding-left: 10px;
      line-height: 57px; }
    footer form textarea {
      box-sizing: border-box;
      margin: 0;
      height: 207px;
      padding-right: 15px;
      padding-left: 10px;
      padding-top: 10px;
      resize: none;
      margin-bottom: 30px; }
    footer form button {
      display: inline-block;
      margin: auto;
      cursor: pointer;
      line-height: 50px;
      padding-left: 31px;
      padding-right: 50px;
      margin-bottom: 56px; }
  footer .down-footer {
    border-top: 2px solid white;
    padding-top: 30px; }
    footer .down-footer a {
      text-decoration: none; }
      footer .down-footer a:before {
        content: "\f39e";
        font-family: Font Awesome\ 5 Brands;
        font-weight: 900;
        width: 27px;
        line-height: 27px;
        background-color: white;
        color: #4d4d4d;
        font-size: 15px;
        margin-right: 8px; }
    footer .down-footer p {
      display: inline-block;
      font-family: "Asap", sans-serif;
      font-size: 16px;
      line-height: 1.42857143;
      color: white;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      text-align: center; }

/*# sourceMappingURL=style.css.map */
