$main-font: 'Asap', sans-serif;
$main-font-color: #4d4d4d;
$main-font-size: 16px;
$bg-color: #dedede;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $bg-color;

  h3 {
    font-family: $main-font;
    font-weight: 600;
    line-height: 50px;
    color: $main-font-color;
    font-size: 46px;
    text-transform: uppercase;

    &:before {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      background-color: #7a7a7a;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}

.navbar {
  font-family: $main-font !important;
  font-size: $main-font-size !important;
  color: $main-font-color !important;
  margin-bottom: 20px;
  border: 0 !important;
  background-color: $bg-color !important;
  background-image: none !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
}

.navbar-header {
  a {
    font-family: 'Lato', sans-serif !important;
    height: auto;
    padding: 31px 0 0;
    font-size: $main-font-size;
    line-height: 20px;
    text-shadow: none !important;
    color: $main-font-color !important;
    margin-left: 0;

    img {
      height: 24px;
      margin-bottom: 10px;
      padding-left: 29px;
    }

    p {
      &:nth-child(2) {
        text-align: left;
        font-family: 'Lato', sans-serif !important;
        font-size: $main-font-size;
        color: $main-font-color !important;
        margin: 0 0 7px;
      }

      &:nth-child(3) {
        font-family: 'Lato', sans-serif !important;
        font-size: 6px;
        color: #4d4d4d !important;
        margin: 0 0 16px;
        text-align: center;
      }
    }
  }
}

.navbar-nav {
  li {
    a {
      padding-top: 33px;
      padding-bottom: 0;
      margin: 0 20px 0 0;

      &:hover:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #878787;
        position: relative;
        top: 9px;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.hero-area {
  h1 {
    //margin:  0;
    font-family: $main-font;
    font-weight: 500;
    color: $main-font-color;
    margin-top: 166px;
    margin-bottom: 21px;
    font-size: 75px;
    padding-right: 0;
    padding-left: 0;
  }

  img {
    //top: -59px; // need or not?
    display: inline-block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 9px;
  }

  p {
    font-family: $main-font;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.42857143;
    color: #9c9c9c;
    margin: 0 0 32px;
    position: relative;
    padding-right: 0;
    padding-left: 0;
  }

  a {
    display: inline-block;
    line-height: 50px;
    font-family: $main-font;
    font-size: $main-font-size;
    background-color: transparent;
    border: 1px solid #4d4d4d;
    color: $main-font-color;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;

    &:nth-child(4) {
      padding-left: 47px;
      padding-right: 47px;
    }

    &:hover {
      background-color: white;
      border: 0;
    }
  }
}

.about {
  background-color: white;
  padding-top: 110px;

  h2 {
    font-family: $main-font;
    font-weight: 600;
    line-height: 50px;
    color: $main-font-color;
    font-size: 46px;
    text-transform: uppercase;
    margin-bottom: 15px;

    &:before {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      background-color: #7a7a7a;
      margin-bottom: 20px;
    }
  }

  img {
    display: inline-block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 125px;
  }

  p {
    font-family: $main-font;
    font-weight: 400;
    font-size: $main-font-size;
    line-height: 29px;
    color: $main-font-color;
    margin: 0 0 35px;
    padding-right: 0;
    padding-left: 0;
  }

  a {
    display: inline-block;
    font-family: $main-font;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 48px;
    text-decoration: none;
    //padding: 0;
    color: $main-font-color;
    padding-left: 47px;
    padding-right: 47px;
    border: 1px solid #4d4d4d;
    text-align: center;

    &:hover {
      background-color: white;
      border: 0;
    }
  }
}

.services {
  padding-top: 143px;

  h3 {
    margin-bottom: 62px;
  }

  img {
    height: 78px;
    margin-bottom: 16px;
  }

  p {
    font-family: $main-font;
    font-weight: 500;
    font-size: 20px;
    color: $main-font-color;
    padding: 0;
    margin: 0 0 83px;
    //&:last-child{
    //  margin-bottom: 114px;
    //}
  }
}

.my-skills {
  padding-top: 143px;
  background-color: white;

  h3 {
    margin-bottom: 51px;
  }

  img {
    display: inline-block;
    width: 100%;
    margin-bottom: 125px;
  }
}

.portfolio {
  padding-top: 150px;

  h3 {
    margin-bottom: 46px;
  }

  img {
    width: 100%;
    margin-bottom: 30px;

    &:hover {
      -webkit-box-shadow: 0 0 10px 10px #BDBDBD;
      box-shadow: 0 0 10px 10px #BDBDBD;
    }
  }

  a {
    display: inline-block;
    margin: auto;
    line-height: 50px;
    font-family: $main-font;
    font-weight: 500;
    font-size: $main-font-size;
    background-color: white;
    color: $main-font-color;
    text-decoration: none;
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 123px;
  }
}

.testimonials {
  background-color: white;
  padding-top: 150px;

  h3 {
    margin-bottom: 58px;
  }

  .owl-carousel {
    //box-sizing: border-box;
    border: 1px solid #212121;
    padding: 81px 73px 107px 118px;
    margin-bottom: 121px;

    .img-testimonials {
      display: inline-block;
      margin-right: 30px;
    }

    img {
      //display: inline-block;
      width: 100%;
    }

    .txt-carousel {
      display: inline-block;

      h4 {

        box-sizing: border-box;
        font-family: $main-font;
        font-weight: 500;
        color: $main-font-color;
        margin-bottom: 10px;
        font-size: 30px;
        text-transform: uppercase;
      }

      p {
        font-family: $main-font italic;
        font-weight: 400;
        font-size: 12px;
        color: $main-font-color;
        margin-bottom: 22px;

        &:last-child {
          font-size: $main-font-size;
          color: #949494;
          text-transform: uppercase;
          line-height: 26px;
        }
      }

      .owl-dots {
        position: absolute;
        width: 100%;
        bottom: 38px;
        text-align: center;


        .owl-dot {
          outline: none;

          span {
            display: block;
            height: 11px;
            width: 11px;
            border: 1px solid #212121;
            margin-right: 2px;
            margin-left: 2px;
          }
        }

        .owl-dot.active {
          span {
            background-color: #212121;
          }
        }
      }
    }
  }
}

.funfact {
  padding-top: 52px;

  img {
    //height: 78px;
    margin-bottom: 33px;
  }

  h4 {
    font-family: $main-font;
    font-weight: 600;
    color: $main-font-color;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 30px;
  }

  p {
    font-family: $main-font;
    font-size: 30px;
    color: $main-font-color;
    padding: 0;
    margin: 0 0 65px;
  }
}

.white-bg {
  background-color: white;
  min-height: 154px;
}

footer {
  padding-top: 170px;
  background-image: url("../images/footer_06.jpg");
  background-size: cover;

  h3 {
    color: white;
    margin-bottom: 71px;

    &:before {
      background-color: #c1c1c1;
    }
  }

  form {
    font-family: $main-font;
    font-size: $main-font-size;
    color: $main-font-color;

    input {
      box-sizing: border-box;
      padding: 0;
      margin: 0 0 30px;
      padding-right: 15px;
      padding-left: 10px;
      line-height: 57px;
      width: 100%;
    }

    textarea {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      height: 207px;
      padding-right: 15px;
      padding-left: 10px;
      padding-top: 10px;
      resize: none;
      margin-bottom: 30px;
    }

    button {
      display: inline-block;
      margin: auto;
      cursor: pointer;
      line-height: 50px;
      padding-left: 31px;
      padding-right: 50px;
      margin-bottom: 56px;
    }
  }

  .down-footer {
    border-top: 2px solid white;
    padding-top: 30px;

    .social {
      display: inline-block;

      a {
        text-decoration: none;

        &:before {
          content: "\f39e";
          font-family: Font Awesome\ 5 Brands;
          font-weight: 900;
          display: inline-block;
          width: 27px;
          line-height: 27px;
          background-color: white;
          color: $main-font-color;
          font-size: 15px;
          text-align: center;
          margin-right: 4px;
          margin-left: 4px;
        }

        &:first-of-type:before {
          margin-left: 0;
        }

        &:nth-child(2):before {
          content: "\f099";
        }

        &:nth-child(3):before {
          content: "\f0e1";
        }

        &:nth-child(4):before {
          content: "\f0d5";
        }

        &:nth-child(5):before {
          content: "\f1b4";
        }

        &:nth-child(6):before {
          content: "\f17d";
        }

        &:hover:before {
          color: white;
          background-color: #0084b4;
        }
      }
    }

    .last-text {
      display: inline-block;
      //margin: auto;

      span {
        display: inline-block;
        font-family: $main-font;
        font-size: $main-font-size;
        color: white;
        //text-align: center;
        margin: auto;
        padding-bottom: 37px;
      }
    }
  }
  .up{
  a{
    text-decoration: none;
    &:before{
      content: "\f077";
      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      width: 45px;
      line-height: 42px;
      background-color: white;
      color: $main-font-color;
      font-size: 15px;
      text-align: center;
      position: fixed;
      bottom: 192px;
      right: 30px;
    }
  }
}
}

